body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-right: 10px;
  width: 100%;
}

html, body {
  overflow-x: hidden; 
}

main {
  flex: 1;
  padding: 1rem;
  width: 100%;
}


